
/* import the three weights of Lato font to use for the site */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap');

:root {
    --accent: #218ECC;
    --light: #F5F9FC;
    --dark: #364069;
    --bluegray: #B7CEE8;
    --dark80: rgba(54, 64, 105, .8);
    --dark60: rgba(54, 64, 105, .6);
    --transition: all 0.3s ease 0s;
}

/* MAIN PAGE STYLES */
.info {
    font-family: "Montserrat", sans-serif;
    color: black;   
}
.hello {
    /* display: inline; */
    /* font-family: "Montserrat", sans-serif; */
    font-weight: 400;
    font-size: 5.25rem;
    
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .10em solid gray; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin-right: 40.5%;
    animation:
      typing 4s steps(25, end),
      blink-caret 1.2s step-end infinite;
}
.quick-bio {
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 1.3rem;
    /* border: 1px solid green; */
}
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 63.5% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: gray; }
}
.typewrite {
    color: black;
}
.bio {
    padding-top: 25px;
    margin-right: 25%;
    /* border: 1px solid blue; */
}
.bio > p {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}
.sunimg {
    position: absolute;
    left: 0;
    top: 45%;
    bottom: auto;
    right: auto;
}


/* WRITING PAGE STYLES */ 
.content {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 15px;
}
.linkbox {
    border-radius: 25px;
    background: cornflowerblue;
    padding: 80px;
    text-decoration: none;
}
.article {
    font-family: "Montserrat", sans-serif;
}
.article p {
    color: black;
    font-size: 1.25rem;
    line-height: 125%;
}
.article h5 {
    color: gray;
}

.notebook p {
    color: black;
    font-size: 1rem;
    line-height: 125%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.notebook #first {
    padding-top: 0;
}
.notebook h6 {
    color: gray;
}
.constrain-static-img {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.dial {
    display: block;
}
.img-container {
    position: relative;
}
.img-container top {
    position: absolute;
    z-index: 1;
}
.links {
    display: inline;
    color: #FF9900;
    text-decoration: none;
}

p, button {
    font-family: "Lato", sans-serif;
    color: var(--light);
}

