
/* import the three weights of Lato font to use for the site */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap');

:root {
    --accent: #218ECC;
    --light: #F5F9FC;
    --dark: #414d81;
    --bluegray: #B7CEE8;
    --dark80: rgba(54, 64, 105, .8);
    --dark60: rgba(54, 64, 105, .6);
    --transition: all 0.3s ease 0s;
}

/* MAIN PAGE STYLES */
.app > spacer {
    width: 100%;
    height: 30px;
    color: whitesmoke;
}
.info > * {
    font-family: "Montserrat", sans-serif;
    color: black;
}
.hello > *{
    font-weight: 400;
    font-size: 3.3rem;
}
.quick-bio {
    margin-top: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 1.1rem;
    /* border: 1px solid green; */
}
.bio {
    padding-top: 25px;
    margin-right: 25%;
    width: 100%;
    margin-bottom: 3rem;
    /* border: 1px solid blue; */
}
.bio > p {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 125%;
    padding: 5px;
}
.fun-facts {
    padding-top: 25px;
    /* margin-right: 25%; */
    margin-bottom: 60px;
    width: 100%;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 200;
}
.fun-facts > p {
    color: black;
    font-family: "Montserrat", sans-serif;
    padding-bottom: -10px;
}
.fun-facts > li {
    margin-right: 25%;
}
/* icon centering not working... */
.fun-facts > #icon {
    display: flex;
    align-items: center;
}
/* also not working... */
.fun-facts > span {
    white-space:pre;
}


/* WRITING PAGE STYLES */ 
.content {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 15px;
}
.linkbox {
    border-radius: 25px;
    background: cornflowerblue;
    padding: 80px;
    text-decoration: none;
}
.article {
    font-family: "Montserrat", sans-serif;
}
.article p {
    color: black;
    font-size: 1.25rem;
    line-height: 125%;
}
.article h5 {
    color: gray;
}
.story {
    margin-left: 6em;
    margin-right: 6em;
}

.notebook p {
    color: black;
    font-size: 1rem;
    line-height: 125%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.notebook #first {
    padding-top: 0;
}
.notebook h6 {
    color: gray;
}
.constrain-static-img {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

/* PHOTOGRAPHY PAGE STYLES */
.phototitle {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-weight: 200;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.photoapp {
    position: relative;
    width: 100%;
    margin: 0 auto;
    /* border: 3px solid salmon; */
}

.img-grid {
    position: relative;
    width: 125%;
    margin-left: -10%;
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    gap: 25px;
    /* border: 2px solid green; */
}

.img-grid #v {
    width: 250px;
    height: 375px;
}

.img-grid #h {
    width: 375px;
    height: 250px;
}

.img-wrap {
    position: relative;
    opacity: 0.8;
}

.img-wrap img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 1.8%;
}

.bordertext {
    position: fixed;
    width: 100%;
    margin: 0 auto 60px;
    /* left: 50%; */
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: black;
    font-weight: 200;
    font-size: 1rem;
    /* border: 3px solid cyan; */
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.backdrop img {
    display: block;
    max-width: 80%;
    max-height: 90%;
    margin: 30px auto;
    border: 50px solid white;
}

